.header__links {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-right: 24px; 
    text-align: right;
    text-decoration: none;
    color: #fff;
  }

  .header__links:last-of-type {
    margin-right: 0;
  }
  
  @media screen and (max-width: 582px) {
    .header__links {
      font-size: 14px;
      line-height: 17px;
    }
  }